[2018-04-29 21:03] TingPing opened #1 "Appindicator now in shared-modules"
Just a heads up that I've added appindicator to shared modules so you can include it as a subproject to clean up your manifest a bit: https://github.com/flathub/shared-modules/tree/master/libappindicator

[2018-04-30 05:45] larchunix commented on #1
Nice ! Manifest updated in d6064d3.

[2018-04-30 05:45] #1 closed

[2018-07-28 22:34] LeandroStanger opened #2 "Need screenshot"
![captura de tela de 2018-07-28 19-34-42](https://user-images.githubusercontent.com/26097419/43361116-4c9a0a22-929d-11e8-9b3e-2ba0e2c2f624.png)

[2018-07-29 00:52] antenore commented on #2
Where do you see this missing screenshot? Probably you we were updating the flatpak while you saw it?

[2018-07-29 00:52] antenore commented on #2
typo... We were updating the flatpak, sorry.
You should see it now.

[2018-07-29 11:41] LeandroStanger commented on #2
![captura de tela de 2018-07-29 08-41-43](https://user-images.githubusercontent.com/26097419/43365957-3e53c2be-930b-11e8-8f10-fbbdddd3f1cb.png)

[2018-07-29 11:53] antenore commented on #2
Ok, I'll have a look

[2018-07-29 22:36] antenore commented on #2
Part of the screenshots should be fixed.

[2018-07-31 14:37] LeandroStanger commented on #2
![captura de tela de 2018-07-31 11-37-05](https://user-images.githubusercontent.com/26097419/43466545-25d8dd3a-94b6-11e8-9034-757ac9f09b2c.png)

[2018-07-31 14:51] antenore commented on #2
Cool! We can close this

[2018-08-04 05:18] mikedep333 opened #3 "RDP smartcard support does not work"
I am getting the following errors, followed by more errors for the smartcard channel. The server does not see the smartcard:

[code]

[2018-08-04 19:58] antenore commented on #3
Do you mind reporting the same on upstream on gitlab? Thanks

[2018-10-18 12:36] nedrichards opened #4 "GNOME 3.30 Runtime Now available"
The GNOME 3.30 runtime is now available, which should have GCC 8 which I believe Remmina needs and is based on Freedesktop.org 18.08 so there should be better security support than the 3.28 and older runtimes. It'd be worth testing and updating if you can.

[2018-10-18 12:38] antenore commented on #4
Thanks @nedrichards I'll have a look
CC: @giox069

[2018-10-19 10:30] larchunix commented on #4
I already have a working version of Remmina using Gnome 3.30 runtime: https://gitlab.com/Remmina/Remmina/compare/master...wip%2Fflatpak%2Fgnome-sdk-3.30.

However, new runtime seems to bring regressions. I have cursor rendering issues with SPICE and RDP protocols (a square is displayed instead of a pointer). GNOME Boxes flatpak from flathub is also affected. With previous runtime this glitch does

[2018-10-19 14:31] nedrichards commented on #4
Legitimate point, I'll try and raise that with upstream.

[2018-10-19 14:49] nedrichards commented on #4
I've filed an upstream issue: https://gitlab.gnome.org/GNOME/gnome-build-meta/issues/90

[2018-10-19 18:47] larchunix commented on #4
@nedrichards Thanks !

[2018-12-02 23:30] larchunix commented on #4
The merge request have been merged and the updated version of the SDK has reached flathub repository.

I updated Remmina's manifest accordingly in 1005203.

@nedrichards Thanks for your support.

[2018-12-02 23:30] #4 closed

[2019-03-12 23:39] antenore commented on #3
Closing as no feedback provided

[2019-03-12 23:39] #3 closed

[2019-03-28 18:10] mikoim opened #6 "RDP does not work due to missing libaom.so.0"
[code]

[code]

[2019-03-28 18:16] antenore commented on #6
Thanks, I'll fix this later

[2019-03-28 19:20] larchunix commented on #6
Indeed, I can reproduce.

Before pushing the update to new gnome SDK, I tested all the protocols and all of them worked.

Not sure what has changed since then, flatpak, update to the runtime...

[2019-03-28 19:25] larchunix commented on #6
I guess it's an issue with org.freedesktop.Platform.html5-codecs runtime:

[code]

[2019-03-28 19:28] larchunix commented on #6
Upstream issue: https://gitlab.com/freedesktop-sdk/freedesktop-sdk/issues/709

[2019-03-28 19:31] larchunix commented on #6
@mikoim , @antenore : there's nothing we can do on Remmina side hence I propose to close this issue.

[2019-03-28 19:32] antenore commented on #6
Thanks a lot @larchunix , yes let's close this.

[2019-03-29 06:23] mikoim commented on #6
Thank you for investigating. For now, downgrading ```org.freedesktop.Platform.html5-codecs``` makes RDP plugin work again.

**Workaround**
[code]

[2019-03-29 06:23] #6 closed

[2019-03-31 09:54] Erick555 commented on #6
@mikoim  the fix was published on flathub. Everything should work after `flatpak update`.

[2019-05-06 22:25] neildick opened #7 "Remmina crashing on exit on Fedora 30"
Hi, I'm not sure if this is the correct place to report this issue.
Host: Fedora 30 with Gnome & Wayland
Issue: Remmina installed from Flathub crashes when closing the application with a kernel oops.
`flatpak update` reports everything up to date.

dmesg output:
[code]
journalctl output:
[code]

Thanks

[2019-05-11 11:51] larchunix commented on #7
The segfault seems to occur only when Remmina is quitted by clicking on the cross button of the window decoration.

When Remmina is quitted using the Quit menu item, the segfault does not occur.

[2019-05-11 11:58] larchunix commented on #7
Backtrace:

[code]

[2019-05-11 20:08] antenore commented on #7
Thanks for the trace, unfortunately it doesn't say too much to me.
Did you get it on Arch Linux or another distro? Because it doesn't happen to me.

@giox069 any clues?

[2019-05-11 20:18] antenore commented on #7
Well, I don't have wayland BTW, so it maybe a bug in the Gnome/wayland stack, it's something that should be reported to the freedesktop or gnome project, or wait the next updates to see if it goeas away :-P

Let's see if @giox069  has anything to say...

[2019-05-11 21:16] larchunix commented on #7
I managed to reproduce the issue both on Fedora and ArchLinux but only with Flatpaked Remmina not with the version packaged by the distribution.

I don't use Wayland either.

[2019-05-12 03:58] neildick commented on #7
It seems to happen for me on Gnome/Wayland and Gnome/X11 so I don't think it's Waylands fault.

[2019-06-26 05:53] RoyiAvital opened #8 "Remmina Doesn't save Settings and Connections"
Hello,

Using latest release of Remmina (`1.3.4`) in FlatHub on Linux Mint 19.1 (Based on Ubuntu 18.04 LTS).

Remmina doesn't save connections even if I click `Save & Connect`.
It also doesn't remember the configuration per connection (Resolution, etc...) as the Remmina from repositories does.

[2019-07-14 13:58] avlubimov opened #9 "multi password changer is not work"
The multi password function does not work.

In the logs he writes that he cannot connect to the password service.

"WARNING: Remmina is running with a secret plugin, but it cannot connect to a secret service."

As far as I know, remmina uses the gnome-keyring service.

But the seahorse application from the distribution and even the same application from flathub work fine. What could be the problem

[2019-07-14 14:54] avlubimov commented on #9
Everything is working.
But remmina requires that a password container be created in the seahorse application before and this container should be set as default.

![изображение](https://user-images.githubusercontent.com/622842/61185305-5f73b300-a660-11e9-93de-41b2a4c02c1e.png)

[2019-07-14 14:54] #9 closed

[2019-07-14 14:56] giox069 commented on #9
Thank you.
PS: Please, next time open an issue on gitlab. We moved on gitlab, and maybe our flatpack maintanier is not reading these messages here.

[2019-08-21 08:55] antenore commented on #7
We are debugging

[2019-08-21 14:52] antenore commented on #7
Have been fixed in the master branch...
@larchunix in few days (hopefully) we will release a bug fixing version, do we wait to update the flatpak or do we add the commit hash?

[2019-08-21 18:23] larchunix commented on #7
Since it doesn't prevent Remmina to function properly, I would prefer to wait until the next release.

[2019-08-27 21:28] neildick commented on #7
Fixed in the latest update. Thanks guys!

[2019-08-27 21:28] #7 closed

[2019-11-19 09:08] codingepaduli opened #10 "Please, update the runtime to org.gnome.Platform 3.34"
Please,

can you update the runtime to org.gnome.Platform 3.34 ?

[2019-11-19 09:51] larchunix commented on #10
Hi,

I have a branch ready with GNOME 3.34 however I'm waiting for https://gitlab.com/freedesktop-sdk/freedesktop-sdk/issues/886 to be fixed before pushing it.

[2019-11-21 07:44] go-ten commented on #10
Hi,

if I'm not mistaken, it's fixed since version 1.4.3 and version 1.2.5 (Debian Stable for example).

[https://github.com/flatpak/flatpak/issues/3126](url)

[2019-11-22 11:35] larchunix commented on #10
Those are different issues.

flatpak (I'm using 1.5.0) still fails to install org.freedesktop.Platform.openh264 if  org.freedesktop.Platform is not installed.

[2019-12-05 21:47] antenore commented on #10
@larchunix We have just release the v1.3.7 I let you decide what is better to do, waiting for 3.34 or release ASAP the stable flatpak with the latest tag.

Thanks!!!

[2019-12-08 21:09] larchunix commented on #10
@antenore I pushed new flatpak version with gnome sdk 3.34 and remmina 1.3.7. freerdp h264 users have to manually install org.freedesktop.Platform in order to be able to install org.freedesktop.Platform.openh264 and having support for this codec.

[2019-12-08 21:09] #10 closed

[2019-12-08 21:51] antenore commented on #10
@larchunix thank you!

Cc: @giox069

[2019-12-09 04:33] sahsanu opened #11 "Remmina 1.3.7 missing RDP plugin"
Hello,

A few minutes ago remmina's flatpak has been updated from version 1.3.6 to 1.3.7 and now I can't connect to my RDP sessions, I get the following message "_Install the RDP protocol plugin first_"

Running from shell I can see the following message:
[code]
Update: Added remmina package info.
[code]

Appreciate your support.

[2019-12-09 06:12] antenore commented on #11
@larchunix can we use the FreeRDP master? The latest tag is way too old

[2019-12-09 07:59] Eonfge opened #12 "Enable voluntarily telemetry"
Could you please enable the voluntarily telemetry on compile time. Right now, it is disabled in the Flatpak which means that the official data does not properly reflect the user base:

https://remmina.org/remmina-stats/

I totally agree that any kind of telemetry should only be opt in. The amount of companies that disrespect their users (and/or local laws) with opt-out telemetry is disgraceful, bu

[2019-12-09 08:22] SupercowsNL commented on #11
Same issue here.. rdp pluggin not working anymore

[2019-12-09 09:00] #11 closed

[2019-12-09 09:02] antenore commented on #11
I've switched temporary to the master branch of FreeRDP.
We will see how to better address this issue ASAP.
The build is in progress, please test (in half an hour) and let me know

cc: @SupercowsNL @larchunix

[2019-12-09 10:32] sahsanu commented on #11
@antenore, I've updated it 5 minutes ago and RDP sessions are working fine again.

Package info:
[code]

Thank you very much.

[2019-12-09 10:49] SupercowsNL commented on #11
Same here! thx for fixing it so fast  :-)

[2019-12-17 10:02] jtagcat opened #13 "1.3.7 FreeRDP fix (86714014) has major performance issues"
- v1.3.6 `aaebe6f1` was all ok
 - v1.3.7 `79005a84` didn't have the FreeRDP plugin (#11)
 - latest `86714014` supports has the FreeRDP plugin, but it has major performance issues. Nothing on the screen refreshes, unless you click on the pixel cluster (you can't really see what you are doing).

I am currently downgrading to v1.3.6 with
`sudo flatpak update org.remmina.Remmina --commit=c931de656f9d0

[2019-12-17 10:05] jtagcat opened #14 "Dark icon toggle does not work"
![Screenshot from 2019-12-17 12-03-23](https://user-images.githubusercontent.com/38327267/70985755-8cffd500-20b4-11ea-8508-f25ae0d4830b.png)
Flatpak Remmina always displays the dark icon (independent of the `Dark Tray icon` toggle under Preferences -> Applet).
Installing from other sources it works properly.

[2019-12-17 10:08] jtagcat commented on #8
`1.3.4` is not the latest version any more. Does the problem still occur with `1.3.7` and `1.3.6`?

[2019-12-17 16:20] antenore commented on #13
Thanks for the report.

Personally I've to find some free time to build the flatpak by hand, as described [here](https://gitlab.com/Remmina/Remmina/blob/master/flatpak/README.md) and debug what's going on.

I'm not sure I'll be able to do it before the beginning of January

[2019-12-17 16:26] antenore commented on #14
[This commit](https://gitlab.com/Remmina/Remmina/commit/bb7d3cf9a1c360c9d0505f407a0f51159924e516#a355a6a84541b17c96b7f474c79c6496633711ae_81_82) should have fixed this issue, but I'm not sure.

Let's keep this issue updated as soon as the v1.3.8 will be released

[2019-12-17 16:32] antenore commented on #12
I'm not sure I've understood, do you mean the "Send anonymous statistics...." cannot be enabled with the flatpak? Or that it should be ON by default?

If it's the second case, well, we would love it, actually there are only 100k users that opted-in, imagine what are the real numbers (we estimated that only 10 to 15 % enable it), but even if we don't collect sensible data and we are not so good at

[2019-12-17 16:35] antenore commented on #8
@RoyiAvital also have a look in the general preferences and be sure to have some value in the "Remmina data folder" (starting from v1.3.6)

[2019-12-17 16:54] Eonfge commented on #12
I was triggered by the line `"-DWITH_TELEPATHY:BOOL=OFF"` in the manifest. Does this mean that the telemetry switch doesn't work?

Perhaps I understand the situation wrong, but I'm all in favour of opt-in statistics. I'm under the impression that with the line in the manifest, there is no analytics collection at all. I this a correct assumption, or am I missing the forest for the trees?

[2019-12-17 17:26] antenore commented on #12
That is an unmaintained plugin that we have disabled. It was used with VNC

[2019-12-17 17:27] antenore commented on #12
For posterity https://developer.gnome.org/platform-overview/unstable/tech-telepathy.html.en

[2019-12-17 17:36] Eonfge commented on #12
Aaaaaah. Never mind then :+1:

[2019-12-17 17:36] #12 closed

[2019-12-18 06:48] jtagcat commented on #13
Could you make v1.3.6 the 'latest' for the time being?
Would prevent everyone having to downgrade manually and still keeps the option to upgrade.

[2019-12-18 07:32] antenore commented on #13
Technically yes, but I'm testing locally the fkatpak to understand where the problem is.

I'll do something EOD

[2019-12-18 07:53] antenore commented on #13
@jtagcat Just built the flatpak locally and I've installed, additionally:

org.freedesktop.Platform
org.freedesktop.Platform.openh264

Performance are very good, so either a commit I've done yesterday fixed the issue, or the h264 codec helps a lot.

Note that people using the 1.3.7 in the issue #10 didn't report back any particular issue in terms of performance.

Can you try the h264 and let me kn

[2019-12-18 15:56] jtagcat commented on #13
I'd also mention, I'm on Fedora 31

I have a true/false test for this - when opening iLO desktop, the logins screen either comes or is just black. (also besides it being black the usability is laggy at best)

I got offered 3 org.freedesktop.Platforms:
[code]
Installing runtime/org.freedesktop.Platform/x86_64/1.6 didn't (as expected) change anything.
org.freedesktop.Platform/x86_64/18.08 is already

[2019-12-18 16:15] antenore commented on #13
What do you have a colour depth in the preferences? I use either AVC444 or RemoteFX

Do you have the "Grab all keys" button, in the toolbar, activated?

![image](https://user-images.githubusercontent.com/5975/71103120-d554eb00-21b9-11ea-8f4b-d12a2b91d7c3.png)

Without the commit I've done yesterday, activating it causes a lot of troubles.

[2019-12-26 15:54] damianatorrpm opened #15 "explicitly add runtime extension for openh264"
As I undestand org.freedesktop.Platform.openh264 is an optional dependency for Remmina.
I do not have org.freedesktop.Platform.openh264 inststalled by default as it often causes problems.

Maybe add org.freedesktop.Platform.openh264 to the runtime extensions so it shows when installing?

[2019-12-27 11:25] larchunix commented on #15
org.freedesktop.Platform.openh264 is already a dependency of org.gnome.Platform required by Remmina (https://gitlab.gnome.org/GNOME/gnome-build-meta/blob/gnome-3-34/elements/flatpak/platform.bst#L82-86).

It will be installed automatically once https://gitlab.com/freedesktop-sdk/freedesktop-sdk/issues/886 is fixed.

[2019-12-27 11:25] #15 closed

[2020-02-21 14:19] antenore opened #18 "Remmina version not updating"
I cannot find from were it comes the Remmina version that is shown on flathub.org.

I thought that was from our metadata but unfortunately it comes from somehwere else.

Any ideas? Thanks!

@nedrichards @TingPing @larchunix

[2020-02-24 15:34] antenore commented on #18
Seems fixed

[2020-02-24 15:34] #18 closed

[2020-03-30 14:40] luni3359 commented on #14
I'm not sure if this falls into the same issue, but I can't see the tray icon no matter what. It's empty, but still usable.

[2020-04-29 16:02] coopjab opened #24 "I can't connect : timezone error"
@TingPing
I'm facing problem in connecting my machine with remmina
and remmina log file is attached below
thanks cheers..
![Screenshot from 2020-04-29 21-20-54](https://user-images.githubusercontent.com/36020960/80618316-d13ab300-8a60-11ea-858a-83929098f1e7.png)

[2020-05-08 21:55] antenore commented on #24
Timezones support has been implemented in flatpak. What is your distribution and is flatpak updated?

I cannot reproduce this issue, please provide more details.

@TingPing please correct me if I'm wrong

[2020-05-25 12:45] tomkv opened #25 "New releases do not bump up version information"
New releases do not bump up version information:
[code]

I.e. **Version** says `1.4.3` and **Subject** says `Upstream release v1.4.5 (c5c192ee)`.

[2020-05-25 13:30] antenore commented on #25
Thanks for this, I always forget about the desktop meta data file!!

[2020-05-25 13:39] #25 closed

[2020-05-25 13:40] antenore commented on #25
Build in progress.

[2020-05-25 14:40] antenore commented on #25
Done

[code]

[2020-05-25 20:27] tomkv commented on #25
Thanks. :thumbsup:

[2020-06-05 07:53] muelli opened #26 "crash when trying to re-connect"
excuse my ignorance for posting here rather than remmina upstream. I hope you can forward the report accordingly.

I got a crash. It's the third time it has happened, so I guess it's quite reproducible. I connect to a RDP server. Then I suspend. Resume. I try to connect again. It crashes:

[code]

and `t a a bt full`:
[code]

I hope I don't leak credentials now...

[2020-06-05 08:45] antenore commented on #26
Thanks for reporting this!

[2020-10-01 23:14] FrankenHu opened #37 "Remmina 1.4.8 missing RDP plugin"
Hello,

After update to 1.4.8  I can't connect to my RDP sessions.
I get the following message "Install the RDP protocol plugin first"

Running from shell I can see the following message:
[code]
Remmina package info:
[code]

[2020-10-02 04:47] antenore commented on #37
Update it again, we fixed this problem 2 days ago

[2020-10-02 14:09] FrankenHu commented on #37
Thank you, after update OK

[2020-10-02 14:09] #37 closed

[2020-10-07 14:46] codingepaduli opened #38 "Update the runtime to Gnome 3.38"
Please, update the runtime to org.gnome.Platform/x86_64/3.38
Thanks

[2020-10-07 15:07] antenore commented on #38
It's not possible right now as it breaks Remmina, see #34

Help is welcome

[2020-10-08 13:43] #38 closed

[2021-02-03 12:45] Taulim opened #43 "Remmina permissions on last update (1.4.11)"
First of all, thank you for you work on supporting Remmina for flatpak.

It was a long time since I last updated my flatpaks and did it today.
Remmina had a change on permissions from **home** to **host** file system (#40).

I simply cannot find the reason for this change and don't feel comfortable at all with the change (without a reason of course).
However you may have a reason for that that is

[2021-02-03 14:22] antenore commented on #43
Thanks for your kindness

I had two different issues:

1. Some users reported issues sharing the audio with pulseaudio.
2. My profiles are stored outside the zone accessible by the flatpak

For the first point I cannot reproduce the issue my self, but in both cases changing the permissions from home to host seems to solve the problem.

Regarding the profiles placement (outside the home directory),

[2021-02-03 18:20] Taulim commented on #43
Thanks for the quick answer.

1. I just did a test here connecting to a windows 10 machine via RDP and the audio works fine even without the system filesystem (I actually removed even the home folder and left only `xdg-public-share` folder access).
We probably need more information from the issue.

2. Since the system will map "~" to the users home folder set on the `/etc/passwd` file (in which ca

[2021-02-03 19:09] antenore commented on #43
It was a desperate attempt 😃

I'll revert and do some tests

Thanks!

[2021-02-04 09:04] #43 closed

[2021-02-04 09:05] antenore commented on #43
Done, just wait for the build to finish

[2021-02-04 10:16] Taulim commented on #43
Thanks for listening!
I was expecting this on the next Remmina update :smile: .
Already got the update here. Thank you!

[2021-02-04 10:19] antenore commented on #43
Security has an higher priority ;-)

[2021-02-10 12:59] pick2510 opened #44 "SPICE Plugin"
It seems the SPICE Plugin is missing in the last build.

`Remmina - Remote Desktop Client

          ID: org.remmina.Remmina
         Ref: app/org.remmina.Remmina/x86_64/stable
        Arch: x86_64
      Branch: stable
     Version: 1.4.11
     License: GPL-2.0+
      Origin: flathub
  Collection: org.flathub.Stable
Installation: system
   Installed: 14.8 MB
     Runtime: org.gnome.Platform/x86_64

[2021-02-10 13:30] antenore commented on #44
Thanks for the report, I'm investigating

[2021-02-10 13:34] antenore commented on #44
We have introduced a new feature that uses a new spice function `spice_display_channel_change_preferred_video_codec_types`

I'm checking if and how to update the spice provided by the flatpak

[2021-02-10 13:35] pick2510 commented on #44
Thank's for taking care.

[2021-02-10 19:52] #44 closed

[2021-02-10 20:52] antenore commented on #44
The updated flatpak will be available in some minutes

[2021-02-16 10:26] antenore commented on #44
@pick2510 can you confirm if it works now?

Thanks!

[2021-02-16 10:28] pick2510 commented on #44
Sorry, all works now. Thanks!

[2021-02-20 16:38] Hannes1909 commented on #14
Same here, installed 1.4.11 flatpak release today:
![image](https://user-images.githubusercontent.com/29476657/108602490-73d27280-73a2-11eb-94dc-e4a136ad9558.png)

[2021-02-20 22:37] luni3359 commented on #14
Yeah, I don't think it's showing up in either dark or light modes

[2021-02-22 08:49] antenore commented on #14
It works for me.

This is not a Remmina specific issue, but it's more related to the windows manager and used theme.

Probably installing a flatpak theme may help, but I'm not sure, on my side I've installed `org.gtk.Gtk3theme.Breeze-Dark`

My understanding is that you have to match dark/light theme on flatpak.

In some days I'll release a new Remmina version that doesn't use anymore these icons,

[2021-02-22 08:49] #14 closed

[2021-02-22 16:36] luni3359 commented on #14
Thank you, I hope it works. Also, just to give some information on my system: On a fresh KDE Neon install, Remmina has no icons on the bar.

[2021-04-12 09:56] simonschmeisser opened #46 "H264 support?"
When clicking on a .rdp file I get the following error about missing H264 support in libfreerdp
![grafik](https://user-images.githubusercontent.com/372442/114376493-f6e39e00-9b85-11eb-8eb3-7a68b6162dbb.png)

Can this be enabled or are there legal reasons speaking against it?

[2021-04-12 13:31] hfiguiere commented on #46
do you have org.freedesktop.Platform.ffmpeg-full installed?

[2021-04-12 16:44] simonschmeisser commented on #46
[code]
After installing `org.freedesktop.Platform.ffmpeg-full//19.08` as well I now get a black screen instead of the warning

Setting the colors to 32bpp manually it works

[2021-04-25 15:46] sgivan opened #47 "version 1.4.13 not able to use RDP plugin"
Hi,

I can't seem to use the RDP plugin. I see that this has been a recurring problem. For me, this is occurring when I install Remmina with either Fedora dnf or flatpak.
[code]
I don't get an error associated with the RDP plugin upon startup:
[code]

However, when I try to open an RDP connection, a window pops up saying that I need to install the RDP plugin first. And the RDP plugin is not listed

[2021-04-26 06:33] antenore commented on #47
Just tested, and it works for me, try to remove it completely and reinstall

[2021-04-26 09:15] sgivan commented on #47
Thanks for testing this. Yes, I've removed and reinstalled Remmina multiple times using both dnf and flatpak. I'm on Fedora 33. I've been using Remmina for years. It stopped working two days ago on my system after dnf updated to 1.4.13, which was part of a larger system update.

I just used dnf to rollback to Remmina 1.4.8 and it doesn't work now, whereas it worked before the system update. So, th

[2021-04-26 09:33] antenore commented on #47
Some stuff to check

[code]

Be sure there's only one version installed and that you have the needed plugins:

[code]

The flatpak should work out of the box except if you have a running remmina session, so in that case:

[code]

Hope it helps

[2021-05-29 11:31] x80486 opened #62 "Upgrade to GNOME (platform/sdk) 40 whenever possible"

[2021-08-07 17:24] codingepaduli commented on #62
org.remmina.Remmina is stuck to org.gnome.Platform/x86_64/3.38

Can it be upgraded to org.gnome.Platform/x86_64/3.40, please?

[2021-08-07 19:08] antenore commented on #62
I'll do it ASAP @codingepaduli

[2021-08-07 20:59] antenore commented on #62
I misunderstood the issue, sorry.

Remmina cannot be upgraded to that SDK I'm afraid as the code need huge rewrite to work with Gtk4.

@x80486 @codingepaduli is this what you are asking for?

[2021-08-09 09:00] #62 closed

[2021-08-09 09:01] antenore commented on #62
Done, looks good.

I thought GNOME 40 wasn't including Gtk3

[2021-08-12 03:54] B-Carcamo opened #77 "Remmina Doesn't Save Settings in RDP - Fedora 34"
If I close the preferences window it does not save the configuration
![Captura de pantalla de 2021-08-11 21-54-25](https://user-images.githubusercontent.com/18128720/129135954-8c405d62-ae61-47de-93c6-0289c2b15dcf.png)

[2021-08-12 05:08] antenore commented on #77
Only the RDP settings or all?

Do you have the latest flatpak?

Because I've solved this issue some weeks ago, I'm just not sure about the RDP settings, but I cannot test right now

[2021-08-12 07:00] antenore commented on #77
OK, I've just tested and it works, which settings exactly are you trying to save?

Which remmina version do you have?

[2021-08-12 07:50] antenore commented on #77
Other thing to check..

The flatpak should save the remmina.pref file under:

[code]

Check that the file exists.

[Start Remmina in debug](https://gitlab.com/Remmina/Remmina/-/wikis/Usage/Remmina-debugging) and look at the messages when you save the preferences, if something goes wrong it should print why

[2021-08-12 17:02] B-Carcamo commented on #77
Only in RDP. It's not from Flatpak.
From the Fedora repositories

[2021-08-12 17:58] antenore commented on #77
Please follow the debug link and share some traces

[2021-08-13 00:52] B-Carcamo commented on #77
![Captura de pantalla de 2021-08-12 18-50-49](https://user-images.githubusercontent.com/18128720/129287889-c2955a27-bb27-4619-a35d-c3e2b3c9ced8.png)

[2021-08-13 05:29] antenore commented on #77
I don't see anything wrong.

Check the permissions of the remmina.pref file, under  `~/.config/remmina`

[2021-10-08 06:09] ProfessorCode212 opened #84 "Flameshot Tray Icon Not Visible"
On Linux Mint 20, this is what the tray icon for _Remmina_ looks like.

![image](https://user-images.githubusercontent.com/78950242/136506778-b48ca9e8-0435-430b-bd79-b2505a38c767.png)

I presume what should be shown is the logo and not that.

[2021-10-09 22:11] eduardosm commented on #84
This bug can also be reproduced on GNOME with the appindicator extension. Instead of the application icon, it shows three dots (···).

[2021-10-10 08:52] ProfessorCode212 commented on #84
@antenore I am using the default appindicator and it appears to be updated.

[2021-10-17 13:06] antenore commented on #84
Yes @eduardosm , normally I've at least 3 different remmina version installed

[2021-10-17 14:45] eduardosm commented on #84
It seems that the indicator is set to use the `/usr/share/icons/hicolor/*/status/remmina-status` icon, which flatpak is not exporting, so the icon will only appear if there is non-flatpak version providing such icon.

[2021-10-17 17:50] eduardosm commented on #84
It looks like flatpak only exports icons with certain names (https://github.com/flatpak/flatpak/issues/4495#issuecomment-945138992), so I think the easiest solution is to rename the icon.

[2021-10-18 13:09] antenore commented on #84
@ProfessorCode212 @eduardosm

Can you kindly test this flatpak https://remmina.org/public/packages/remmina-dev.flatpak

Thanks in advance

[2021-10-18 23:54] ProfessorCode212 commented on #84
@antenore I can also confirm that it's working on Linux Mint (Cinnamon). Thanks!

![image](https://user-images.githubusercontent.com/78950242/137821775-e96ca896-708e-4024-a68a-19d6b0ad81ed.png)

[2021-10-18 23:54] #84 closed

[2021-11-05 03:50] tkuraku opened #97 "Smart Card Passthrough Doesn't seem to work"
For a long time I couldn't get any flatpak applications to recognize my smart card. Non-flatpak applications worked as expected. Even the yubico application. com.yubico.yubioath, would not see my smart card. Recently there was an update and now com.yubico.yubioath can use the smart card, which is great, but the application that I really need to use is Remmina, org.remmina.Remmina, since there is n

[2021-11-06 04:19] tkuraku commented on #97
I noticed that the manifest file uses a pcsc-lite module instead of pcsc. I tried building the flatpak myself with that added module in the manifest, but that didn't solve the issue.

[2021-11-06 07:12] antenore commented on #97
Try to start remmina in debug

https://gitlab.com/Remmina/Remmina/-/wikis/Usage/Remmina-debugging

[2021-11-06 07:14] antenore commented on #97
And raise up the freerdp logging as well

[2021-11-06 07:52] antenore commented on #97
I need those traces to see what happens

[2021-11-06 15:00] tkuraku commented on #97
[remmina.txt](https://github.com/flathub/org.remmina.Remmina/files/7490676/remmina.txt)

Here is the log file from the session. I connect to the server, but the smart card is not recognized on the other side. Like i said this works with remmina in non-flatpak distributions.

[2021-11-06 15:04] tkuraku commented on #97
I did see this note in the log that might be relevent.

[code]

[2021-11-06 20:05] antenore commented on #97
The secret service is used only to save passwords.

What I see is that the smart card is correctly recognized and shared.

I'll have to look at the code, because it's a long time I'm not working on this.

Be sure you have selected the correct authentication mechanism in the advanced tab.

I don't know when I will have time to look at this, in the next 20 days I won't be much connected.

[2021-11-07 23:27] tkuraku commented on #97
I did a little more experimenting. I installed Fedora 35 in a vm and tried the remmina rpm from the repositories and from flathub. The remmina flatpak behaved exactly the same as on RHEL 8. The smart card doesn't seem to be shared. However, the rpm works as expected. I saved the log file from that session for a comparison to what is happening in the flatpak.

[remmina_rpm.txt](https://github.com/f

[2021-11-15 09:15] ldelaprade commented on #8
Issue reproduced on version 1.4.21 (git e73ddab1f), installed via snap.
Looks like issue come from access rights to the snap remmina data folder.
When Changing "Remmina data folder" to my user home - bug is gone.
The problem is Remmina does not check it can write down setting changes. When serialization does not work, there should be some error message.

[2021-12-15 12:47] okkiv opened #108 "Remmina does not show any saved profiles since update to 1.4.22"
Hi,

I'm sorry, if this is a duplicate but I could not find a ticket related to my problem neither here nor in remmina's gitlab repo.

Since the update to version 1.4.22 last saturday, remmina does not show my previously created profiles.
The profile files do still exist under /home/$USER/.var/app/org.remmina.Remmina/data/remmina, though.
When I add a new profile, it is not written to that folder

[2021-12-15 13:09] antenore commented on #108
Open three remmina preferences and check that the profile path is correctly set.

If not, backup your profiles and reinstall remmina. Looks like a flatpak issue

[2021-12-15 13:51] okkiv commented on #108
Have tried and succeeded, thanks alot!
It was showing ``remmina`` in the drop down, so I navigated to the correct folder. Afterwards it just showed ``remmina`` again.
On restart it picked up my profiles.

[2021-12-15 13:51] #108 closed

[2022-01-20 10:00] Lalarian opened #112 "bugreport: Cannot disable shared folder for RDP connections using the GUI in Remmina 1.4.23"
Hello!
I once had the shared folder enabled for one of my RDP connections. Now I wanted to disable the shared folder completely.
But when I uncheck 'Shared folder" and save, the connection will remain configured with shared folder enabled.
Other configuration options like color depth and network type are saved fine.
I disabled the shared folder editing the configuration file with nano and this als

[2022-01-20 10:09] antenore commented on #112
WOW! Never realized this, thanks for reporting.
Am I asking you too much to report this upstream?

https://gitlab.com/Remmina/Remmina/-/issues

Thanks!

[2022-01-20 19:23] Lalarian commented on #112
Well, probably not .. I will try my best xD

I just often don't know exactly where the bug reports belong.

Thank you for replying!

[2022-01-20 19:43] Lalarian commented on #112
So I did: https://gitlab.com/Remmina/Remmina/-/issues/2679

[2022-01-20 19:43] #112 closed

[2022-01-28 07:41] cirelli94 opened #116 "Unable to use tools: command not found"
I can't use tools using Remmina via flatpak, it can't find commands:

[code]

Of course I have installed filezilla and ping.

[2022-01-28 07:49] antenore commented on #116
The flatpak is in an isolated sandbox, they can't simply work. We should distribute ping and fikezilla inside the flatpak or put in place some horrible workaround do that it'll work for most people.

For the ping I'm writing some monitoring function.

For filezilla I can't do anything

[2022-01-28 07:49] #116 closed

[2022-01-28 10:10] cirelli94 commented on #116
Thank you very much @antenore for the fast answer.
It could be an idea to disable tools at build time for flatpak?

[2022-01-28 11:11] antenore commented on #116
Yes, but at the moment is not possile.

I will think about it while implementing the monitoring functions

 @cirelli94

[2022-01-29 03:39] tkuraku commented on #97
Remmina finally got added to epel for RHEL 8. Same as fedora, the rpm version works to forward the smart card and the flatpak version does not. It would be cool to get this resolved. let me know if I can help with testing. thanks!

[2022-01-29 08:31] antenore commented on #97
I think it's a sandboxing issue.
I'll try to investigate it, the problem is that I don't have a smart card reader

[2022-01-29 08:35] antenore commented on #97
sudo flatpak override org.gnucash.GnuCash --socket=pcsc org.remmina.Remmina

Can you try? Before and after to lunch remmina

[2022-01-29 08:36] antenore commented on #97
You also need minimum https://www.fosslinux.com/13357/new-flatpak-1-3-2-uses-custom-fuse-filesystem-installation-technique.htm

[2022-01-29 08:50] antenore commented on #97
Another thing to check is to compare how remmina and freerdp are built in Kodi, for red hat, and fedora. This is to see if we are missing any library or build flags in the fkatpak

[2022-01-29 11:35] antenore commented on #97
Another test.

https://github.com/FreeRDP/FreeRDP/blob/master/packaging/flatpak/com.freerdp.FreeRDP.json

If you could test the freerdp flatpak we could at least ditch freerdp (or not)

[2022-01-29 16:42] tkuraku commented on #97
The minimum flatpak version is fine. RHEL 8 is on 1.8.5 and I also tested it on the latest fedora with the same problems. I will try these other tests here in the next day or so. thanks!

[2022-02-03 15:38] tkuraku commented on #97
I just tried with the flatpak after running sudo flatpak override --socket=pcsc org.remmina.Remmina as you suggested. In the log there is some more error messages related to the smart card that might be helpful.
[remmina flatpak.log](https://github.com/flathub/org.remmina.Remmina/files/7995950/remmina.flatpak.log)

[2022-02-03 16:21] antenore commented on #97
I'll have a look.

You should not run flatpak as root

[2022-02-03 16:39] tkuraku commented on #97
I ran remmina as normal user, just set the override with sudo before running remmina.

Thanks. I'll work on testing the freerdp flatpak.

[2022-02-03 17:36] tkuraku commented on #97
I wasn't able to get connected with freerdp (rpm or flatpak) at all. Not sure what I was doing wrong.

[2022-02-03 17:50] antenore commented on #97
Can you show the options you have used
Take your time, I won't reply very soon

[2022-02-03 22:00] tkuraku commented on #97
I had a command like this;

[code]

[2022-02-03 22:40] antenore commented on #97
OK, a couple of things.

1. smartcard use.

Are you using it to authenticate on Windows? If it's the case you have to add `/smartcard-logon`, NLA is not supported, so you have to specify `/sec:tls` or rdp and in that case you will have to specify /smartcard-logon:rdp.

2. smartcard device

Do you have any other smartcard devices? If you have just the Yubiko, just use `/smartcard`

3. Security

If

[2022-02-03 22:52] antenore commented on #97
`SCARD_E_UNKNOWN_READER` comes from the pcsc library, not from FreeRDP.

`pcsc_scan` and other pcsc tools see correctly the reader (with your user, or the same that lunch remmina and/or xfreerdp)

[2022-02-03 23:16] tkuraku commented on #97
The pcsc_scan utility finds the smart card without any problems. I cannot figure out how to get xfreerdp to connect. I tried all manner of permutations of your suggestions.

[2022-02-03 23:19] antenore commented on #97
Any obvious message when you try to connect?

You can add `/log-level:DEBUG`

[2022-02-04 00:37] tkuraku commented on #97
[freerdp.log](https://github.com/flathub/org.remmina.Remmina/files/7999183/freerdp.log)

Here is my log and here is the command I ran

[code]

Thanks for your patience.

[2022-02-04 00:42] antenore commented on #97
No problem at all, but the command line should be probably:

[code]

Or better (because it looks like rdp is not working well):

[code]

[2022-02-04 18:02] tkuraku commented on #97
Unfortunately, neither of those options work to connect.
[first_option.log](https://github.com/flathub/org.remmina.Remmina/files/8005241/first_option.log)
[second_option.log](https://github.com/flathub/org.remmina.Remmina/files/8005242/second_option.log)

[2022-02-04 23:24] antenore commented on #97
I've read the whole thread one more time, and still it's not clear to me your use case.

Are you trying to authenticate on the windows hos with the Yubikey? Or is it used on the Windows server for other authentication?

[2022-02-04 23:51] tkuraku commented on #97
I connect to the windows computer with RDP, and then log in to my user account with the Yubikey. So at the login screen the Yubikey is recognized and then I can enter my pin to login.

[2022-02-09 13:51] DANW999 commented on #84
I used Budgie 21.10 and still have this same problem, the icon for Flatpak version of Remmina does not load in the system tray, instead it shows a stop sign. How do I go about resolving this please?

[2022-02-10 21:00] DANW999 opened #120 "Icon Not Loading"
Hi, I have Remmina Flatpak installed on Ubuntu Budgie and the icon never loads properly on the system tray - it always loads with a red stop sign. Is there anyway to rectify this all? Any help would be greatly appreciated
![Remmina Icon](https://user-images.githubusercontent.com/91419908/153495596-b01f69b4-4122-4d27-b555-8a6c8fa1d45b.png)
.

[2022-02-10 21:48] #120 closed

[2022-02-26 15:45] tkuraku commented on #97
Looks like this is probably related to: https://bugzilla.redhat.com/show_bug.cgi?id=2054826

[2022-02-26 22:08] antenore commented on #97
If you can determine the latest version that works, we could 'impose' that version in the flatpak build, till we will get that bug fixxed.

I cannot just follow up on this, so I'll need help to get the version that works, and when the bug will be fixed upstream and a new version will be tagged.

[2022-02-27 17:06] tkuraku commented on #97
Not sure there is a version of flatpak that ever worked for me. The rpm package for RHEL 8 and Fedora 35 both work. I think the best thing to do is just wait for this to be resolved upstream.

[2022-03-17 05:44] tidux opened #128 "x2go support advertised in package description but not compiled in"
Please add X2go support to this Flatpak!  Upstream Remmina supporting X2go is one of its best features, and it's misleading to mention it in the Flathub package description but not build it in.

[2022-03-17 06:12] antenore commented on #128
I've tried, but there are too many dependencies to be built manually, and it would make the flatpak too huge.
Most of these dependencies are in the Python SDK, and not in the org.gnome.Sdk, that is the one we use to build Remmina.

The X2Go description comes from the upstream metadata.

Any help to solve this issue is much appreciated, to build the flatpak locally see https://gitlab.com/Remmina/Re

[2022-07-14 19:43] hamishmb opened #146 "Does not start on login when option is enabled"
The Flatpak version of Remmina doesn't start on login when the setting to do so is enabled.

[2022-07-14 20:10] antenore commented on #146
Thanks!
I think I know why, but I won't have time to fix it till the end of September.

[2022-07-14 20:13] antenore commented on #146
In the meanwhile edit or create the remmina launcher in `~/.config/autostart`, I guess the Exec line cshould have something like `flatpak run org.remmina.Remmina`

[2022-07-15 03:09] k4n30 opened #147 "Latest flatpak build fails to run"
As title suggests.

flatpak run org.remmina.Remmina

remmina-Message: 12:49:35.372: Remmina does not log all output statements. Turn on more verbose output by using "G_MESSAGES_DEBUG=all" as an environment variable.
More info available on the Remmina wiki at:
https://gitlab.com/Remmina/Remmina/-/wikis/Usage/Remmina-debugging
Load modules from /app/lib/remmina/plugins
Remmina plugin glibsecret (typ

[2022-07-15 06:48] usrstephan commented on #147
same problem for me
ubuntu 22.04, wayland (default), remmina update today, also after reboot:

remmina-Message: 08:32:20.109: Remmina does not log all output statements. Turn on more verbose output by using "G_MESSAGES_DEBUG=all" as an environment variable.
More info available on the Remmina wiki at:
https://gitlab.com/Remmina/Remmina/-/wikis/Usage/Remmina-debugging
Load modules from /app/lib/remm

[2022-07-15 07:41] neildarlow commented on #147
Same error as @k4n30 on fedora Silverblue 36 i.e. glibsecret and libsoup.

`remmina-Message: 08:36:03.660: Remmina does not log all output statements. Turn on more verbose output by using "G_MESSAGES_DEBUG=all" as an environment variable.
More info available on the Remmina wiki at:
https://gitlab.com/Remmina/Remmina/-/wikis/Usage/Remmina-debugging
Load modules from /app/lib/remmina/plugins
xprop:

[2022-07-15 08:45] antenore commented on #147
A

[2022-07-15 11:29] FelixSchwarz commented on #147
just a quick note on how to downgrade remmina in case someone needs a working (albeit older) remmina right now:

    $ flatpak remote-info --log flathub
    # in my case the previous commit is 8c3415b6 ("Removing patch (0f127f25)", 2022-06-20)
    $ flatpak update --commit=8c3415b68da071652914ed17cabf72d4aea1b8e41541618b2d7972bc0f3fa35d org.remmina.Remmina

[2022-07-15 13:20] antenore commented on #147
A new flatpak is going to be published. Thanks @Eonfge for the quick fix, it's much appreciated

[2022-07-19 11:11] hamishmb commented on #146
Can confirm that this works with the edited launcher.

[2022-08-16 12:53] Eonfge commented on #147
@antenore Time to close this issue?

[2022-08-16 13:00] neildarlow commented on #147
Fixed for me. Currently running 1.4.27 from flatpak.

[2022-08-16 13:49] antenore commented on #147
Yes! Thanks again @Eonfge and @neildarlow for confirmation

[2022-08-16 13:49] #147 closed

[2022-10-18 19:00] mikelpr opened #155 "SSH agent seems to have broken"
I previously could connect with no issue via SSH tunnel to the remote computers. Now it is asking for "SSH private key passphrase" yet the key has no passphrase.

happens on latest flathub remmina as of today (2022-10-18), which reports itself in the UI as 1.4.27 (git v1.4.27)
remmina from openSUSE repos works fine, which reports itself as 1.4.27 (git n/a)

[2022-11-23 13:17] nvergottini commented on #146
You should also include the -i on the Exec line so that main window does not appear at login.

`Exec=flatpak run org.remmina.Remmina -i`

[2022-11-26 16:02] hamishmb commented on #146
Yep, I realised, but good to note.